# Ignore Python virtual environment
venv/
.env
app/.env

# Node.js dependencies
node_modules/

# Bytecode / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS files
.DS_Store

# VSCode / editor files
.vscode/
.idea/

# Logs
*.log

